@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default styles (copied from dark theme) */
:root {
  --background: #222222;
  --foreground: #eeeeee;

  --sub-color: #666666;
}

* {
  margin: 0;
  padding: 0;

  /* Eases theme transitioning a bit. */
  transition: background 0.5s, color 0.5s;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.pageContent {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  padding: 0 10px;

  /* padding-top: 26px; */
}

h1,
h2,
h3 {
  line-height: 1.2;
}
