@import url("./theme.css");
@import url("./fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    max-width: 100vw;
    overflow-x: hidden;

    font-family: "JetBrains Mono", monospace;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

h3 {
    font-size: 1.25rem;
    font-weight: 700;
}

h4 {
    font-size: 1rem;
    font-weight: 700;
}

h5 {
    font-size: 0.875rem;
    font-weight: 700;
}

h6 {
    font-size: 0.75rem;
    font-weight: 700;
}

#__next {
    width: 100%;
    height: 100%;
}

body {
    color: var(--foreground-color);
    background-color: var(--background-color);
}

a {
    color: inherit;
    text-decoration: none;
}
