/* Defines default CSS variables that put together a coherent theme.
 * Actual theme support is planned in the future, but for now I have decided to
 * at the very least use CSS variables instead of hardcoding colors and other
 * values. This way, ~if~ when I decide to add theme support, it will be rather
 * trivial. :)
 */
:root {
    /* Background color. */
    --background-color: #080808;

    /* General color for text, should contrast heavily with the background. */
    --foreground-color: #eeeeee;
}
